body , h1{

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
}
.head {
	width: 100%;
	height: 252px;
	border-bottom: 2px solid;

}

.title {
	float: left;
}

.left {
	width: 25%;
	height: 100%;
	border: 2px solid;
}
.left img {
	height: 100%;
	width: 100%;
	/*border:  solid black;*/
	top: 50%;
	left: 50%;

}
.right {
	width: 70%;
	font-size: 32px;
}
 h1,img {
	text-align: center;
	height: 75px;

}

.userInput, .userOutput {
width: 100%;
/*height: 250px;*/
height: 40%;
border-bottom: 2px solid;
line-height: 1.5em;
padding: 10px 20px;
}

.response {
	padding: 5px;
	text-align: center;
	color: blue;
}

.userInput p {
	padding: 0 40px;
	font-size: 35px;
}

span {
	color: blue;
}

caption {
	color: blue;
}

.submission {
	background-color: blue;
	height: 100px;
	width: 150px;
	}



